@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

body {
    background-color: black !important;
    font-family: "Open Sans";
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.form-control {
    color: black;
}
