@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&amp;subset=cyrillic,cyrillic-ext,latin-ext');

a, a:hover, a:active, a:visited {
    text-decoration:none;
}

body {
    font-family: "Montserrat";
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: 700;
}

.regular {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

.form-control {
    color: black;
}
