@import url('https://fonts.googleapis.com/css?family=Exo+2:300,400,500,600,700,800,900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,800,900|Noto+Sans:400,700|Open+Sans:300,400,700,800|PT+Sans|Roboto:300,400,500,700,900&subset=cyrillic');

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic');

.a, .a:hover, .a:active, .a:visited {
    text-decoration:none !important;
}

.font {
    font-family: "Roboto" !important;
}

.f-s-17 {
    font-size: 17px !important;
}

.font-pt-sans {
    font-family: "Roboto" !important;
}

.black {
    color: black !important;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    min-height: 100%;
}

.sw {
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
}

.btn-circle {
    border-radius: 2rem !important;
}

.weight-700 {
    font-weight: 700 !important;
}

.w-3 {
    font-weight: 300 !important;
}

.w-4 {
    font-weight: 400 !important;
}

.w-5 {
    font-weight: 500 !important;
}

.w-7 {
    font-weight: 700 !important;
}

.w-9 {
    font-weight: 900 !important;
}

.bullets {
    font-size: 1.25rem !important;
}
