@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&subset=cyrillic');

.a, .a:hover, .a:active, .a:visited {
    text-decoration:none !important;
}

.font {
    font-family: "Open Sans" !important;
}

.black {
    color: black !important;
}

.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    height: 100%;
    min-height: 100%;
}

.bg-form {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: .25rem;
}

.sw {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-circle {
    border-radius: 2rem !important;
}

.s-125 {
    font-size: 1.25rem !important;
}

.s-17 {
    font-size: 17px !important;
}

.w-3 {
    font-weight: 300 !important;
}

.w-4 {
    font-weight: 400 !important;
}

.w-5 {
    font-weight: 500 !important;
}

.w-6 {
    font-weight: 600 !important;
}

.w-7 {
    font-weight: 700 !important;
}

.w-8 {
    font-weight: 800 !important;
}

.w-9 {
    font-weight: 900 !important;
}
